<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LoginForma.Properties.Settings._18082_DBConnectionString" connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=18082_DB;MultipleActiveResultSets=True;Persist Security Info=True;User ID=18082_User;Password=jXfC+2]_" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/ModelStanarPatrik.csdl|res://*/ModelStanarPatrik.ssdl|res://*/ModelStanarPatrik.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=18082_DB;persist security info=True;user id=18082_User;password=jXfC+2]_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StanarEntities" connectionString="metadata=res://*/ModelStanar.csdl|res://*/ModelStanar.ssdl|res://*/ModelStanar.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.147.204.119\PISERVER,1433;initial catalog=18082_DB;persist security info=True;user id=18082_User;password=jXfC+2]_;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>